/* Global Rules */
* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



/* End global Rules */

/* Style Parent */
.container {
    padding: 15px;
    display: grid;
    grid-template: auto / 19% 60% 19%;
    gap: 15px;
    background-color: #eee;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

/* End Style Parent */

/* Style Child */
.container aside {
    grid-area: 1 / 1 / 2 / 2;
}

.container main {
    grid-area: 1 / 2 / 2 / 3;
}

.container .sidebar {
    grid-area: 1 / 3 / 2 / 4;
}
/* End Style Child */
aside {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

aside .search,
aside .members,
aside .groups,
aside .recent,
aside .shedule {
    background-color: #fff;
    padding: 10px 0;
}

/* Start Style Aside */
aside .search {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    cursor: pointer;
}

aside .search input {
    width: 60%;
    padding: 10px;
    background-color: #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

aside .search button {
    width: 40%;
    padding: 10px;
    background-color: blueviolet;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

aside .members h3,
aside .groups h3,
aside .recent h3,
aside .shedule h3 {
    padding: 0 10px 15px;
    border-bottom: 1px solid #ddd;
    margin: 0 0 25px 0;
}

aside .members .members_cat {
    padding: 10px;
    margin: 0 0 15px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

aside .members .members_cat span {
    padding: 8px;
    border-radius: 5px;
    background-color: #f50;
    color: #fff
}

aside .members .members_cat span:last-of-type {
    background-color: rgb(189, 0, 0);
}

aside .members .member_name {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 12px;
}

aside .members .member_name .member_frind {
    display: flex;
    gap: 10px;
}

aside .members .member_name .member_frind img {
    width: 50px;
    border-radius: 8px;
    filter: brightness(50%);
}

aside .members .member_name .member_frind .friend {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


aside .members .member_name .member_frind .friend span:first-of-type {
    font-weight: 700;
}

aside .members .member_name .member_frind .friend span:last-of-type {
    padding: 5px;
    background-color: rgba(0,0,255, .4);
    border-radius: 8px;
}

aside .groups .groups_cat {
    padding: 10px;
    margin: 0 0 15px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

aside .groups .groups_cat span {
    padding: 8px;
    border-radius: 5px;
    background-color: #f50;
    color: #fff
}

aside .groups .groups_cat span:nth-child(2) {
    background-color: rgb(189, 0, 0);
}

aside .groups .groups_name {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 12px;
}

aside .groups .groups_name .groups_frind {
    display: flex;
    gap: 10px;
}

aside .groups .groups_name .groups_frind img {
    width: 50px;
    border-radius: 8px;
    filter: brightness(50%);
}

aside .groups .groups_name .groups_frind .friend {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


aside .groups .groups_name .groups_frind .friend span:first-of-type {
    font-weight: 700;
}

aside .groups .groups_name .groups_frind .friend span:last-of-type {
    padding: 5px;
    background-color: rgba(0,0,255, .4);
    border-radius: 8px;
}

aside .recent .recent_img {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px 10px;
}

aside .recent .recent_img img {
    width: 50px;
}

aside .shedule {
    padding: 10px;
    font-size: 12px;
}

aside .shedule .shedule_calender {
    color: #777;
}

aside .shedule .shedule_calender p {
    text-align: right;
    margin: 0 0 15px;
}

aside .shedule .shedule_calender table {
    margin: 0 auto 5px;
}

aside .shedule .shedule_calender table thead {
    font-weight: 700;
}

aside .shedule .shedule_calender table tr td {
    padding: 4px;
}

aside .shedule .schedule_month {
    display: flex;
    align-items: center;
    gap: 5px;
}

aside .shedule .schedule_month i {
    font-size: 8px;
}
/* End Style Aside */

/* Style Main */
main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .slider,
main .activity,
main .post,
main .features {
    background-color: #fff;
    border-radius: 12px;
}

main .slider {
    position: relative;
    border-radius: 12px;
}

main .slider h3,
main .slider ul {
    position: absolute;
    color: #fff;
}

main .slider h3 {
    top: 70%;
    left: 10px;
    font-size: 15px;
    background-color: #444;
    padding: 5px 8px;
    border-radius: 8px;
}

main .slider ul {
    bottom: 15px;
    display: flex;
    gap: 5px;
    right: 45px;
}

main .slider ul li {
    width: 12px;
    height: 12px;
    border: 1px solid #ffffff81;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(155, 55, 5, 0.318);
    transition: all .3s;
}

main .slider ul li.active {
    background-color: red;
    border: 2px solid #fff;
}

main .slider img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

main .activity h3,
main .post h3,
main .features h3 {
    padding: 10px;
    margin: 0 0 15px;
    background-color: #ccc;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

main .activity .activity_box {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main .activity .activity_box .box {
    padding: 15px 0 35px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 10px;
}

main .activity .activity_box .box:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}

main .activity .activity_box .box img {
    width: 80px;
    border-radius: 8px;
}

main .activity .activity_box .box .box_info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .activity .activity_box .box .box_info span,
main .activity .activity_box .box .box_info .box_info_desc {
    color: #777;
}

main .activity .activity_box button {
    padding: 10px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

main .post .posts_box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .post .posts_box .box {
    display: flex;
    gap: 10px;
    font-size: 12px;
}

main .post .posts_box .box img {
    width: 80px;
    border-radius: 8px;
}

main .post .posts_box .post_info h5 {
    margin: 0 0 15px
}

main .post .posts_box .post_info p {
    color: #777;
}

main .post .posts_box .post_info p i {
    font-size: 8px;
}

main .post .post_num {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

main .post .post_num li {
    width: 15px;
    height: 15px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 3px;
}

main .post .post_num li:first-of-type {
    background-color: #ccc;
}

main .features .feature_box {
    padding: 10px;
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(80px, 1fr));
    gap: 15px;
}

main .features .feature_box .box {
    font-size: 10px;
}

main .features .feature_box .box img {
    width: 100%;
    border-radius: 12px;
}
/* End Style Main */

/* Style Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.sidebar .sign_in,
.sidebar .statistique,
.sidebar .online,
.sidebar .replies,
.sidebar .topic {
    background-color: #fff;
    border-radius: 12px;
}

.sidebar .sign_in h3,
.sidebar .statistique h3,
.sidebar .online h3,
.sidebar .replies h3,
.sidebar .topic h3 {
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin: 0 0 10px;
}

.sidebar .sign_in form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar .sign_in form input {
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;
}

.sidebar .sign_in form button {
    padding: 10px;
    border-radius: 8px;
    background-color: blueviolet;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.sidebar .sign_in .lost_pass {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.sidebar .sign_in .lost_pass i {
    background-color: #111;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.statistique .stat_box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.statistique .stat_box .box {
    padding: 10px;
    background-color: rgb(175, 60, 2);
    border-radius: 8px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistique .stat_box .box .box_icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.online p {
    padding: 10px;
    color: #777;
}

.replies .reply_box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.replies .reply_box .box span {
    color: #777;
}

.topic .topic_box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.topic .topic_box span {
    color: #777;
}

/* End Style Sidebar */
